/Library
/Logs
/obj
/Packages
/Temp
/Build
/.vsconfig
/Assembly-CSharp
/Assembly-CSharp-Editor
/Input
/NaughtyAttributes.Core
/NaughtyAttributes.Editor
/NaughtyAttributes.Test
/NightPool
/OneShot-main.sln
/README
/Scripts
/Zenject
/Zenject-Editor
/Zenject-IntegrationTests
/Zenject-IntegrationTests-Editor
/Zenject-PoolMonitor-Editor
/Zenject-ReflectionBaking-Editor
/Zenject-TestFramework
/Zenject-UnitTests-Editor